<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head"></head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <ul th:replace="fragments/sidebar :: sidebar"></ul>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
        <div id="content">
          <!-- CONTEnT -->
          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Productos</h1>
            
            <!-- DataTales Example -->
            <div class="card shadow mb-4">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Id</th>
                              <th>Nombre</th>
                              <th>Codigo</th>
                              <th>Precio</th>
                              <th>Stock</th>
                              <th>Acciones</th>
                            </tr>
                          </thead>
                            <tbody>
                              <tr th:each="producto : ${productos}">
                                <td th:text="${producto.getIdProducto()}"></td>
                                <td th:text="${producto.getNombre()}"></td>
                                <td th:text="${producto.getCodigoBarras()}"></td>
                                <td th:text="${producto.getPrecioVenta()}"></td>
                                <td th:text="${producto.getCantidadStock()}"></td>
                                <td>
                                  <button class="btn btn-danger">Borrar</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
        </div>
        <div th:include="fragments/footer :: footer"></div>
      </div>

      <footer th:include="fragments/js :: js"></footer>
    </div>
  </body>
</html>