<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head"></head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <ul th:replace="fragments/sidebar :: sidebar"></ul>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
        <div id="content">
          <!-- CONTEnT -->
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Outer Row -->
            <div class="row justify-content-center">
              <div class="col-xl-6 col-xs-12 col-md-8">
                <div class="card o-hidden border-0 shadow-lg my-5">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="p-5">
                        <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-2">Editar producto</h1>
                        </div>
                        <form class="user" action="/productos/save" method="post"
                          th:object=${producto}>
                          <input type="hidden" name="idProducto" th:value="${producto.getIdProducto()}">
                          <div class="form-group">
                            <input type="text"
                              name="nombre" 
                              th:value="${producto.getNombre()}"
                              class="form-control form-control-user"
                              placeholder="Nombre...">
                          </div>
                          
                          <div class="form-group">
                            <input type="number"
                              name="idCategoria" 
                              th:value="${producto.getIdCategoria()}"
                              class="form-control form-control-user"
                              placeholder="Id Categoria...">
                          </div>
                          
                          <div class="form-group">
                            <input type="text" 
                              name="codigoBarras"
                              th:value="${producto.getCodigoBarras()}"
                              class="form-control form-control-user"
                              placeholder="Codigo de barras...">
                          </div>

                          <div class="form-group">
                            <input type="text" 
                              name="precioVenta"
                              th:value="${producto.getPrecioVenta()}"
                              class="form-control form-control-user"
                              placeholder="Precio de venta...">
                          </div>

                          <div class="form-group">
                            <input type="text" 
                              name="cantidadStock"
                              th:value="${producto.getCantidadStock()}"
                              class="form-control form-control-user"
                              placeholder="Cantidad en stock...">
                          </div>
                          
                          
                          <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                              <input type="checkbox"
                                name="estado" 
                                class="custom-control-input" 
                                th:checked="${producto.getEstado()}"
                                id="customCheck">
                              <label class="custom-control-label" 
                                for="customCheck">Activo</label>
                            </div>
                          </div>

                          <button class="btn btn-primary btn-user btn-block">
                            Guardar
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- /.container-fluid -->
        </div>
        <div th:include="fragments/footer :: footer"></div>
      </div>

      <footer th:include="fragments/js :: js"></footer>
    </div>
  </body>
</html>