<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head"></head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <ul th:replace="fragments/sidebar :: sidebar"></ul>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
        <div id="content">
          <!-- CONTEnT -->
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Outer Row -->
            <div class="row justify-content-center">
              <div class="col-xl-6 col-xs-12 col-md-8">
                <div class="card o-hidden border-0 shadow-lg my-5">
                  <!-- Nested Row within Card Body -->
                  <div class="row" th:object="${compra}">
                    <div class="col-lg-12">
                      <div class="p-5">
                        <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-2">
                            <span th:text="*{idCompra != null} ? 'Info de ' : 'Crear'"></span> compra</h1>
                        </div>
                        <form class="user" action="/compras/save" method="post"
                          th:object=${compra}>
                          <input type="hidden" name="idCompra" th:value="${compra.idCompra}">

                          <div class="form-group" th:if="*{idCompra}">
                            <input type="text" 
                              name="cliente"
                              th:value="'Cliente: ' + '(' + ${compra.cliente.idCliente} + ') ' + ${compra.cliente.nombre} + ' ' + ${compra.cliente.apellidos}"
                              class="form-control"
                              readonly>
                          </div>

                          <div th:if="*{idCompra == null}">
                            <div class="form-group">
                              <select 
                                th:field="*{idCliente}"
                                class="form-control"
                                name="idCliente">
                                <option value="">Seleccione un cliente...</option>
                                <option 
                                  th:selected="${compra.idCliente == cliente.idCliente}"
                                  th:each="cliente : ${clientes}"
                                  th:text="'('+${cliente.idCliente}+') '+${cliente.nombre}+' '+${cliente.apellidos}"
                                  th:value="${cliente.idCliente}"></option>
                              </select>
                            </div>
                            <div class="alert alert-warning"
                              th:if="${#fields.hasErrors('idCliente')}"
                              th:errors="*{idCliente}"></div>
                          </div>

                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Selecciones el producto y cantidad a comprar</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <select 
                                      class="form-control"
                                      id="id-producto">
                                      <option value="000">Seleccione un producto...</option>
                                      <option 
                                        th:each="producto : ${productos}"
                                        th:text="${producto.nombre}+' - ($ '+${producto.precioVenta}+'.-)'"
                                        th:name="${producto.nombre}"
                                        th:precio="${producto.precioVenta}"
                                        th:value="${producto.idProducto}"></option>
                                    </select>
                                  </div>

                                  <div 
                                    class="form-group" >
                                    <input 
                                      type="number"
                                      id="id-cantidad"
                                      class="form-control"
                                      placeholder="Cantidad...">
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                  <button type="button" class="btn btn-primary" onclick="agregarProducto()">Agregar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                              Agregar productos
                            </button>  
                          </div>

                          <label for="">Lista de productos</label>
                          <div>
                            <div style="
                              height: 160px; 
                              border: 1px solid lightgray; 
                              border-radius: 7px;
                              overflow-y: auto;
                              margin-bottom: 10px;
                              padding: 5px;"
                              id="listaProductos">
                              <div  th:if="*{idCompra}" class="form-group" th:each="producto : ${compra.productos}">
                                <input type="text" 
                                  readonly 
                                  th:value="${producto.nombre}+' - ($ '+${producto.precioVenta}+') cantidad: '"
                                  class="form-control">
                              </div>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <input type="datetime" 
                              th:field="*{fecha}"
                              name="fecha"
                              th:value="${compra.fecha}"
                              class="form-control"
                              placeholder="Fecha de compra...">
                          </div>
                          <div class="alert alert-warning"
                            th:if="${#fields.hasErrors('fecha')}"
                            th:errors="*{fecha}"></div>

                          <div class="form-group">
                            <input type="text" 
                              th:field="*{medioPago}"
                              name="medioPago"
                              th:value="${compra.medioPago}"
                              class="form-control"
                              placeholder="Medio de pago...">
                          </div>
                          <div class="alert alert-warning"
                            th:if="${#fields.hasErrors('medioPago')}"
                            th:errors="*{medioPago}"></div>

                          <div class="form-group">
                            <input type="text" 
                              th:field="*{estado}"
                              name="estado"
                              th:value="${compra.estado}"
                              class="form-control"
                              placeholder="Estado...">
                          </div>
                          <div class="alert alert-warning"
                            th:if="${#fields.hasErrors('estado')}"
                            th:errors="*{estado}"></div>

                          <div class="form-group">
                            <input type="text" 
                              th:field="*{comentario}"
                              name="comentario"
                              th:value="${compra.comentario}"
                              class="form-control"
                              placeholder="Comentarios...">
                          </div>
                          <div class="alert alert-warning"
                            th:if="${#fields.hasErrors('comentario')}"
                            th:errors="*{comentario}"></div>

                          <button class="btn btn-primary btn-user btn-block">
                            Guardar
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- /.container-fluid -->
        </div>

        
        <div th:include="fragments/footer :: footer"></div>
      </div>
      
      <footer th:include="fragments/js :: js"></footer>
      <script>
        function agregarProducto() {
          let data = document.getElementById('id-producto')
          let idProducto = data.value
          if (data.value == '000') {
            Swal.fire(
              'Error!',
              'Seleccione un producto',
              'warning'
            )
            return false
          }

          let cantidad = document.getElementById('id-cantidad')
          if (cantidad.value == '') {
            Swal.fire(
              'Error!',
              'Ingrese una cantidad',
              'warning'
            )
            return false
          }

          let innerText = data.options[data.selectedIndex].getAttribute("name")
          let innerPrice = data.options[data.selectedIndex].getAttribute("precio")

          let input = document.createElement("input");
          input.setAttribute("type", "text");
          input.setAttribute("name", "pr_id_"+idProducto);
          input.setAttribute("value", innerText + ' - ($ ' + innerPrice*cantidad.value + ')');
          input.setAttribute("readonly", "true");
          input.setAttribute("class", "form-control");

          let div = document.createElement("div");
          div.setAttribute("class", "form-group");
          div.appendChild(input);
          
          let listado = document.getElementById('listaProductos')
          listado.appendChild(div);

          $('#exampleModal').modal('toggle')
          data.value='000'
          cantidad.value=null
        }

      </script>
    </div>
  </body>
</html>